[submodule "X2WOTCCommunityHighlander"]
	path = X2WOTCCommunityHighlander
	url = https://github.com/WOTCStrategyOverhaul/X2WOTCCommunityHighlander.git
[submodule "SquadSelectAnyTime"]
	path = SquadSelectAnyTime
	url = https://github.com/WOTCStrategyOverhaul/SquadSelectAnyTime.git
[submodule ".scripts/X2ModBuildCommon"]
	path = .scripts/X2ModBuildCommon
	url = https://github.com/X2CommunityCore/X2ModBuildCommon
